$card-border-radius: 2rem;
$border-radius-xs: 0.4rem;
$border-radius-s: 0.8rem;
$border-radius-m: 1.2rem;

$s-01: 0.1rem;
$s-02: 0.4rem;
$s-03: 0.6rem;
$s-04: 0.8rem;

$m-01: 1rem;
$m-02: 1.4rem;
$m-03: 1.6rem;
$m-04: 1.8rem;

$l-01: 2rem;
$l-02: 2.4rem;
$l-03: 3rem;
$l-04: 3.6rem;
$l-05: 4.2rem;
$l-06: 4.8rem;
