@use './../styles/variables';

// .graph {
//     padding: variables.$m-01;
//     margin-top: variables.$m-01;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     border-radius: variables.$border-radius-s;
//     // background-color: var(--c-surface);
//     max-width: 100%;
    
// }
canvas.chart {
    width: 25rem;
    max-width: 100%;
    max-height: 25rem;
    &.small {
        width: 100%;
        max-width: 100%;
        max-height: 12.5rem;
    }
}