@use './../styles/variables';


.GasMonitor  {
    flex-grow: 1;
    height: fit-content;
    background-color: var(--c-surface);
    padding: variables.$s-03 variables.$m-02;
    border-radius: variables.$border-radius-s;
    display: grid;
    grid-template-areas:
    "header graph"
    "content graph"
    "content  graph"
    ;

    @media screen and (max-width: 700px) {
        grid-template-areas:
        "header header"
        "content content"
        "graph  graph"
        ;
        padding: variables.$m-01;
        place-items: center;

        footer { display: none;}
    }

    // border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow1);
    
    &__header {
        grid-area: header;
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
            width: 2em;
            height: 2em;
            font-size: 1rem;
            margin-right: variables.$s-02;
            border-radius: 50%;
            color: var(--text-color);
            path {
                width: 100%;
            }
        }
        &__title { 
            display: inline-block;

            font-size: 1rem;
            // padding: variables.$s-04 0 0 0;
        }
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__data {
            font-weight: 800;
            padding: variables.$s-01 0 variables.$s-01 0;
            font-size: 3rem;
        }
        .text-muted {
            font-size: 0.87rem;
        }
    }
    
    &__graph {
        grid-area: graph;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 15rem;
        max-height: 10rem;
    }
}