
@use './styles/reset';
@use './styles/variables';
@use './styles/color';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 5px;
}


.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding:  variables.$m-01 ;
}

h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin:  1rem 0;
}

// Estilos gerais do badge
.badge {
    display: inline-block;
    background-color: #159ffc;
    padding: 0.2rem 0.4rem;
    border-radius: 7px;
    font-family: monospace;
    letter-spacing: 1PX;
  }
  
  // Estilos do texto do badge
  .badge-text {
    color: white;

    font-size: 0.8rem;
    font-weight: 700;
  }
  
.small {
    font-size: 0.65rem;
    color: var(--neutral);
}

html, body, .main-wrapper {
    transition: background-color 0.2s linear;

    // overflow-x: hidden;
    width: 100%;
    height: max-content;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    background-color: var(--c-background);
}

.container {
    display: grid;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
		"sidenav content content"
	;
    grid-template-columns: 1fr 2fr 2fr;
    @media screen and (max-width: 900px) {
        display: flex;
    }
    @media screen and (min-width: 700px) {
        #menu-btn, #close-btn { display: none;}
    }
}

.navbar {
    grid-area: nav;
}

.main-aside {
    grid-area: sidenav;
}

.content { 
    grid-area: content;
}